<!-- body -->
<div class="page-header">
	<h1>Contents</h1>
</div>
<div>
	<table class="contents-table">
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @contents.each do |content| %>
		<tr>
			<td><a href="<%= raw content.url %>"><%= raw content.title %></a></td>
			<td><%= link_to "Delete", @content, :method => :delete %></td>
			<td><%= link_to "Edit", edit_content_url(content.id) %></td>
		</tr>
		<% end %>
	</table>
</div>
<br>
<div class="addcontent">
<%= link_to 'Add Content', new_content_url %>
</div>
<br>
<br>
<br>
