<!-- body -->
	<div class="page-header">
		<h1><%= raw @content.title %></h1>
	</div>
<p>
	Excerpt: <%= raw @content.excerpt %><br><br>
	Added on <%= @content.created_at %>
</p>
<br>
<br>
<%= link_to "Delete", @content, :method => :delete %>
<%= link_to "Edit", edit_content_url(@content) %>