<div id="homeheader">
	<p>
		s. j. culver
	</p>
</div>
<% unless flash.empty? %>
		<% flash.each do |key, value| %>
		<%= content_tag :div, value, :class => "flash #{key}" %>
		<% end %>
		<% end %>
<div id = "content">
	<% @contents.each do |content| %>
	<div id = "block" data-tag="<%= content.tag %>">
		<%= raw content.excerpt %>
		<div id = "title">
			<a href="<%= content.url %>"><%= raw content.title %></a>
		</div>
	</div>
	<% end %>
</div>
<div id="footer">
	<p>
		<a href="https://twitter.com/sj_culver" class="footerlink">twitter&nbsp;&nbsp;</a>
		<a href="mailto:contact@sjculver.com" class="footerlink">&nbsp;&nbsp;email</a>
	</p>
</div>

