<!--body-->
<head>
	<%= stylesheet_link_tag    "home", :media => "all" %>
	<%= javascript_include_tag "home" %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
</head>
<body>
	<select id="choose_tag">
		<option value="">Choose one</option>
		<option value="SA">analysis</option>
		<option value="essay">essay</option>
		<option value="review">review</option>
		<option value="fiction">fiction</option>
		<option value="humor">humor</option>
	</select>

	<% @tags.each do |t|%>
	<div style = "display: none;" id = "<%= t %>">
		<% Content.where(:tag => t).each do |c| %>
		<div id = "block">
			<%= raw c.excerpt %>
			<div id = "title">
				<a href="<%= c.url %>"><%= raw c.title %></a>
			</div>
		</div>
		<% end %>
	</div>

	<% end %>
</body>
</html>
