<!DOCTYPE html>
<html>
	<head>
		<title>s.j. culver - portfolio</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33612079-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<!-- navbar -->
		<div class="navbar">
			<% if admin_signed_in? %>
			<p>
				Logged in as <%= current_admin.email %>&nbsp;&nbsp;||&nbsp;&nbsp;
				<%= link_to('Logout', destroy_admin_session_path, :method => :delete, :class => "navbarlink" ) %>
			</p>
			<% else %>
			<p>
				<%= link_to('Login', new_admin_session_path)  %>
			</p>
			<% end %>
			<!-- alerts -->
		</div>
		<% unless flash.empty? %>
		<% flash.each do |key, value| %>
		<%= content_tag :div, value, :class => "flash #{key}" %>
		<% end %>
		<% end %>
		<%= yield %>
	</body>
</html>
